<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jmm_homework"
    android:versionCode="1"
    android:versionName="1.0" >
    <uses-permission android:name="android.permission.READ_CONTACTS" />
	<uses-permission android:name="android.permission.INTERNET"/>

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.jmm_homework.MakeOrderActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.jmm_homework.SendOrderActivity"
            android:label="Send order" >
        </activity>
        <activity
            android:name="com.example.jmm_homework.TopScorersActivity"
            android:label="Top Scorers" >
        </activity>
        <activity
            android:name="com.example.jmm_homework.PreferencesActivity"
            android:label="Top Scorer Preferences" >
        </activity>
        
        <activity
            android:name="com.example.jmm_homework.DatabaseActivity"
            android:label="Database Activity" >
        </activity>
        <activity
            android:name="com.example.jmm_homework.ServicesActivity"
            android:label="Services Activity" >
        </activity>
        <service android:name="com.finki.jmm.homework.services.HelloService" />
        <provider android:name="com.finki.jmm.homework.contentprovider.MyContentProvider" android:authorities="com.finki.jmm.homework.contentprovider"></provider>
    </application>

</manifest>
